<aside class="border p-4">
  <h2 class="my-0">Notifications</h2>
  <%= turbo_stream_from "notifications" %>
  <%= turbo_frame_tag "notifications" do %>
    <%= render current_user.notifications %>
  <% end %>
</aside>